/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
Created on : Jul 23, 2014, 12:35:11 PM
Author     : vinh
*/
#cl-wrapper .row{
  max-width: none;
}
button:hover, button:focus, .button:hover, .button:focus{
  outline : 0;
}
label{
  color: #adb8c2;
  font-family: ProximaNova-Bold;
  font-size: 0.8rem;
  line-height: 2;
}
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
select {
  background-color: #fff;
  box-shadow : none;
  font-family: proximanova-regular;
  -webkit-border-radius: 5px;
  border-radius: 5px;
/*padding: 0.3rem 0.8rem 0.5rem 0.65rem;*/ }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="color"]:focus,
textarea:focus {
  box-shadow : none;
  border-color: #0ed6d8;
  background-color: #fff;
}
select:focus{
  background-color: #fff; 
} 
#msg label{
  color : red;
  font-style: italic;
}
#msg .close:hover{
  background: none;
}
.button, .button {
  border-radius: 5px;
  font-family: ProximaNova-regular;
  padding: 0.5rem 0.8rem 0.5rem 0.65rem;
}
.texture button, .texture .button{
  background-color: #0ed6d8;
}
.modal-header button.close{
  background: none;
} 
.animated button, .animated .button{
  background-color: #0ed8b9;
  text-transform :uppercase;
} 
.show-password {
  background-image: url("../images/view.png");
  background-position: 0 center;
  background-repeat: no-repeat;
  display: inline-block;
  float: right;
  padding-left: 1.2rem !important;
  padding-right: 5px !important;
  text-transform: none !important;
}
.cool-loader-normal {
  -moz-animation: 0.6s linear 0s normal none infinite rotation;
  -webkit-animation: 0.6s linear 0s normal none infinite rotation;
  border-color: rgba(91, 192, 201, 0.8) rgba(91, 192, 201, 0.15) rgba(91, 192, 201, 0.15);
  border-radius: 100%;
  border-style: solid;
  border-width: 3px;
  height: 45px;
  left: 50%;
  margin: -22px 0 0 -22px;
  position: absolute;
  top: 50%;
  width: 45px;
}
.rounded-logo{
  text-align: center;
  padding : 1.256rem;
}
@-webkit-keyframes rotation {
  0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
@keyframes rotation {
  0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
}
#cl-wrapper .cl-sidebar .cl-navblock{
  width : 200px;
  position: fixed;
}
#head-nav .user-nav > li > a > img{
  border-radius: 50%;
  width: 30px;
}
#head-nav .user-nav > li > a{
  text-transform: uppercase;
}
#head-nav .profile_menu.open > a{
  background-color: transparent;
  color : #223446;
}
#head-nav .navbar-collapse span#jpage-title {
  font-size: 18px;
  line-height: 50px;
  padding: 10px;
  color : rgb(77,77,77);
  text-transform: uppercase;
}
.cl-sidebar .cl-vnavigation > li > a{
  color : #6A6B70;
  font-size : 15px;
  text-transform: uppercase;
}
.cl-sidebar .cl-vnavigation > li > a > i{
  font-size: 24px;
}
.cl-sidebar .cl-vnavigation > li.parent.open > a,
.cl-sidebar .cl-vnavigation > li.parent.active > a{
  background-color: #fff;
  border: medium none;
  color: #4d4d4d;
}
#jmenu-page-content {
  padding-bottom: 50px;
  min-height: 800px;
}
.customize-button .dropdown-menu{
  margin: -10px 13px 0;
  padding: 0;
  min-width: 100px;
}
#jmenu-page-content .dropdown-menu .divider{
  margin: 0px;
}
#jmenu-page-content .dropdown-menu li a:hover{
  color: #ffffff;
}
.customize-button .dropdown-menu > li > a {
  padding: 15px 50px 15px 20px;
  text-transform: uppercase;
}
.customize-button > .dropdown-menu:before{
  background: url("../images/menu-tail-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 17px;
  left: 60px;
  position: absolute;
  top: -10px;
  transform: rotate(2deg);
  width: 17px;
}
.customize-button > .dropdown-menu li a:hover ~ dropdown-menu:before{
} 
.container-action{
  background-color: #f1f1f1;
}
.container-action .row{
  max-width: none;
  padding : 25px 0 5px;
}
.container-action button {
  font-size: 13px;
  padding: 10px 0;
  width: 125px;
}
.container-action .row .button-group{
  padding : 0;
}
.customize-button .button {
  background-color: #fff;
  border: 1px solid;
  color: #808080;
  text-align: center;
}
.customize-button .button-group li > .button {
  border: 1px solid;
  border-radius: 0; 
}
.box-filter .customize-button .button-group li > .button{
  width : 111px;
}
.box-filter .row {
  padding: 5px 0 15px;
}
.customize-button .button-group li:first-child > .button{
  border-radius : 4px 0 0 4px;
}
.customize-button .button.btn-primary{
  background-color: #0ed8b9;
  color : #fff;
}
.customize-button .button-group li:last-child > .button{
  border-radius : 0 4px 4px 0;
}
.filter.blue, .ifilter.blue, button[data-toggle="jdropdown"].blue{
  background-color: #dddddd;
}
.btn.btn-trans.form-modal{
  background-color: #30c17b;
  border: 1px solid #30c17b;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 20px;
}
.btn.btn-trans.form-modal > span {
  color : #ffffff;
  text-transform: uppercase;
}
#expense{
  min-height: 600px;
}
#expense table th{
  text-transform: uppercase;
  font-weight: bold;
  border : none;
}
.custome-filter .open,
.customize-button .button-group  li.open{
  position: relative;
}
.custome-filter .dropdown-menu:before {
  background: url("../images/menu-tail-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 43px;
  left: 295px;
  position: absolute;
  top: -10px;
  width: 17px;
}
.custome-filter .dropdown-menu {
  height: auto;
  left: -240px;
  margin-top: 10px;
  top: 42px;
  width: 365px;
  border-radius : 5px;
}
.custome-filter .dropdown-menu .modal-header {
  border-radius: 5px 5px 0 0;
}
.expense_modal .modal-content .modal-body div{
  padding-left : 0px;
  padding-right : 0px;
}
#purchase_modal.custom-modal .modal-content {
  width: 800px !important;
  height : 610px;
}
#income_modal.custom-modal .modal-content {
  width: 360px !important;
  height : 401px;
}
#receipt_modal .md-content{
  width : 100%;
}
#receipt_modal.custom-modal .modal-content {
  width: 640px !important;
  height : 552px;
}
#receipt_modal.custom-modal .modal-body {
  height : 75%;
  overflow-x  :hidden;
  overflow-y : auto;
}
#purchase_modal.md-modal.custom-modal {
  max-width: none;
  width : 100%;
}
#description_contains{
  width: 100%; resize: none;
}
#purchase_modal .upload-content{
  border-left: 1px solid #e5e5e5;
  height: 485px;
  margin-left: 10px;
  margin-top: -10px;
  width: 375px;
  position: relative;
}
#purchase_modal .upload-content .file-drag,
#purchase_modal .upload-content .file-preview 
{
  width: 100%;
  height : 100%;
  background-color: #F1FDFF;
}
#purchase_modal .modal-body{
  padding-bottom: 0px;
  padding-right: 0px;
}
#purchase_modal .file-drag {
  background-image: url("../images/bg-file.png");
  background-position: 50% 40%;
  background-repeat: no-repeat;
  position: absolute;
  z-index : 1;
}
#purchase_modal .upload-content .file-preview {
  position: absolute;
  z-index : 2;
  background : #f1fdff  !important;
  display: none;
  padding : 20px;
}
#purchase_modal .file-drag .btn.custom-file {
  left: 30%;
  position: absolute;
  top: 56%;
  z-index: 3; 
}
#purchase_modal .file-drag input[type="file"] {
  bottom: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
#purchase_modal .file-preview .jclose {
  background-image: url("../images/close.png");
  background-position: center center;
  background-repeat: no-repeat;
  color: #000000;
  font-size: 18px;
  padding: 20px;
  position: absolute;
  right: 0;
  top: 1px;
}
#import-form .trans-import {
  border: 2px dashed #e5e5e5;
  border-radius: 4px;
  display: table;
  position: relative;
}
.trans-import > div {
  display: table-cell;
  vertical-align: middle;
  padding-left: 20px !important;
}
.trans-import > div.large-7{
  padding-top: 15px;
  padding-bottom: 15px;
}
.trans-import > input {
  bottom: 0;
  left : 0;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index : 1;
}
.trans-import > .qif {
  background-color: #e5e5e5;
  border-radius: 3px;
  color: #fff;
  font-family: ProximaNova-Bold;
  font-size: 16px;
  padding: 0 5px;
  position: absolute;
  right: 5px;
  text-transform: uppercase;
  top: 5px;
}
.trans-import .attachment{
  font-size: 14px;
}
#purchase_modal .file-preview > img {
  border: 1px solid;
}
#purchase_modal .col-sm-12.frequency > div {
  padding-left: 10px !important;
}
#purchase_modal .col-sm-12.frequency > div:first-child {
  padding: 0 !important;
}
#merge_modal .modal-body {
  padding : 0px;
}
#merge_modal .modal-body form > div{
  padding : 10px 25px;
}
#merge_modal form p, #merge_modal form a {
  font-size: 16px;
  margin: 0px;
}
#merge_modal .modal-body form > div:nth-child(1),
#merge_modal .modal-body form > div:nth-child(2){
  border-bottom: 1px solid #e5e5e5;
}
.container-fluid.add-bank {
  background-color: #f6f8f8;
  height: 260px;
  text-align: center;
}
.list-bank .list {
  height: 150px;
  position: relative;
}
.list-bank .list .item-bank,  
.list-bank .list .add-bank-btn{
  border-right: 1px solid #e0e4e8;
  cursor: pointer;
  display: inline-block;
  height: 100%;
  padding: 0 5px;
  position: relative;
}
.list .play{
  display: none;
}
.list .play .fa {
  background: none repeat scroll 0 0 transparent;
  border-radius: 2px;
  bottom: 5px;
  box-shadow: 0 1px 4px;
  color: #808080;
  cursor: pointer;
  font-size: 15px;
  opacity: 0.5;
  padding: 1px 5px;
  position: absolute;
  z-index: 2;
}
.list .play .fa.fa-forward{
  right: 5px;
}
.list-bank .list:hover > .play{
  display: block;
} 
.list .play .fa.fa-backward{
  left: 5px;
}
.list-bank .list .item-bank{
  width :350px;
}
.list-bank .list ul.bank-ctn{
  font-size: 0;
  height: 100%;
  line-height: 0;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 100%;
  z-index: 1;
}
.list-bank .list .item-bank.active .info h5
{
  color : #0ed8b9;
}
.list-bank .list .item-bank.active .box span{
  background-position: -46px -32px;
}
.list-bank .list .item-bank.active .box{
  border-color: #0ed8b9;
}
.list-bank .list .item-bank.active .button{
  display: block;
}
.list-bank .list ul.bank-ctn p{
  white-space: normal;
}
.list-bank .list .item-bank .btn{
  display: none;
  position: absolute;
  bottom: 0;
}
.list-bank p{
  margin-bottom: 0;;
}
.list-bank .list .item-bank .large-8.columns {
  padding-left: 35px;
  padding-top: 30px;
}
.list-bank .list .item-bank .button {
  display: none;
  font-size: 13px;
  padding: 7px 30px;
  position: absolute;
  right: 0;
  top: 115px;;
}
.list-bank .list .add-bank-btn {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
}
.list-bank .list .add-bank-btn > div{
  padding-top: 50px;
}
.list-bank .list .add-bank-btn *{
  color : #808080;
}
.item-bank .col-sm-5 {
  padding-left: 0 !important;
  padding-top: 22px;
}
.item-bank .box {
  border: 1px solid;
  border-radius: 50%;
  display: block;
  font-size: 10px;
  height: 70px;
  margin: 40% 0 0 30%;
  padding: 19px 0 0 13px;
  text-align: center;
  text-transform: uppercase;
  width: 70px;
}
#generate-basr.block-flat{
  border: none;
  box-shadow : none;
}
#generate-basr > .header:last-child{
  border : none;
}
.chart-container{
  height : auto;
  display: none !important;
  background-image: url('../images/bg.jpg');
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  padding: 10px 0 0 !important;
}
.chart-container > div
{
  height : 100%;
}
.item-bank.item-trans {
  padding-left: 45px;
}
.item-bank > div {
  height: 100%;
  position: relative;
}
.item-trans .box {
  color: #ffffff;
  font-size: 10px;
  font-weight: bold;
  padding-top: 30px;
}
.item-bank.item-trans .box span
{
  font-size: 15px;
}
.item-trans .box .total-expense
{
  color: #FFE3B5;
}
.item-trans .box .total-income
{
  color: #6AFFF9;
}
#expense > table tbody tr:hover > td,
tr.selected > td{
  font-weight: bold;
  color : #424242;
  cursor: pointer;
}
.expense-head{
  background-color : #fff;
}
.bank-action {
  height: 24px !important;
  position: absolute !important;
  right: 0;
  top: 5px;
  width: 24px;
}
.picker-drop > button,
.picker-drop > button:hover {
  background-color: #ffffff;
  border: 1px solid #808080;
  border-radius: 3px;
  height: 24px;
  overflow: hidden;
  padding: 10px;
  position: absolute;
  width: 24px;
  z-index: 997;
}
.picker-drop .picker-hidden {
  background-color: #fff;
  display: none;
  height: 3px;
  position: absolute;
  top: 21px;
  width: 25px;
  z-index: 999;
}
.picker-drop {
  height: 24px;
  position: relative;
  width: 24px;
}
.picker-drop button .caret {
  border-top: 4px solid #808080;
  left: 30%;
  position: absolute;
  top: 40%;
  margin: 0;
}
.picker-drop > .dropdown-menu {
  left: -135px;
  padding: 5px 0 0;
  position: absolute;
  top: 22px;
  z-index: 998;
}
.picker-drop > .dropdown-menu li a{
  padding: 15px 50px 15px 20px;
  text-transform: uppercase; 
}
/*.picker-drop.open > .dropdown-menu{
border-radius: 3px 0 3px 3px;
box-shadow: 0 0 5px #808080;  
}*/
.picker-drop.open > .dropdown-menu {
  border-radius: 3px 0 3px 3px;
  box-shadow: 0 0 3px #808080;
}
.picker-drop.open .picker-hidden{
  display: block;
}
/*.picker-drop.open > button{
border: medium none;
border-radius: 3px 3px 0 0;
box-shadow: 0 -5px 5px #808080;
height: 25px;
width: 25px;   
}*/
.picker-drop.open > button {
  border: medium none;
  border-radius: 2px 2px 0 0;
  box-shadow: 0 0 3px #808080;
  height: 25px;
  width: 25px;
}
.jcon {
  background-image: url("../images/icon.png");
  background-repeat: no-repeat;
  height: 24px;
  margin-right: 5px;
  width: 24px;
  display: block;
}
.jcon.large {
  height: 30px;
  width: 40px;
}
.jcon.jcon-import{
  background-position: -193px -30px;
}
.jcon.jcon-visa {
  background-position: -94px -33px;
  float: right;
  width: 85px;
}
.jcon.jcon-credit {
  background-position: -6px -32px;
}
.jcon.jcon-dashboard {
  background-position: -7px -7px;
}
.jcon.jcon-trans {
  background-position: -170px -7px;
}
.jcon.jcon-client {
  background-position: -204px -7px;
}
.jcon.jcon-invoice {
  background-position: -37px -7px;
}
.jcon.jcon-project {
  background-position: -70px -7px;
}
.jcon.jcon-report {
  background-position: -106px -7px;
}
.jcon.jcon-setting {
  background-position: -138px -7px;
}
.jcon.jconbell {
  background-position: -231px -7px;
}
.jcon.jconbell-msg {
  background-position: -261px -7px;
}
.nav-small .jcon.jconbell{
  background-position: -285px -7px; 
}
.nav-small .jcon.jconbell-msg{
  background-position: -313px -7px; 
}
.cl-right-sidebar {
  background: none repeat scroll 0 0 #fff;
  position: absolute;
  width: 500px;
  z-index: 1002;
  right : -500px;
  border-left: 1px solid #dadde2;
  display: table-cell;
  padding-bottom: 200px;
  vertical-align: top;
  height: 100%;
}
.cl-right-sidebar.show{
  display: block;
}
.right-slider.slider{
  background-color: #fff !important;
  border: 1px solid;
  color: #808080;
}
.row.well-come {
  margin: 3rem auto;
  width: 600px;
}
.row.well-come h2,
.row.well-come h5{
  font-family: OpenSans-Light;
  color : #fff;
}
.row.well-come h5{
  font-weight: bold;
}
.well-come .button {
  background: none repeat scroll 0 0 transparent;
  border: 1px solid #fff;
  padding: 5px 0;
  width: 110px;
}
.modal-header {
  background-color: #f7f7f7;
  padding: 15px 15px 8px;
  text-align: center;
  text-transform: uppercase;
  border: none;
}
#quick_setup .md-content {
  width: 65%;
}
.md-content {
  width: 65%;
  background : transparent;
}
.switch input:checked + label:after{
  left : 0.25rem;
}
.switch input:checked + label{
  background-color: #0ed8b9;
}
.switch label:after {
  left: 2.25rem;
}
.switch label,
.switch label + span{
  margin-left: 5px !important;
}
.switch > span {
  display: inline-block;
  font-size: 15px;
  padding-top: 7px;
  vertical-align: top;
}
form textarea{
  resize : none;
  height : 7rem;
}
.modal-footer {
  background-color: #f7f7f7;
  border: medium none;
  margin-top: 15px;
  padding: 20px 20px 5px;
  text-align: center;
}
.input-group > .input-group-addon {
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  left: 12px;
  line-height: 1;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 12px;
}
.input-group-end{
  position: relative;
}
.input-group-end > .input-group-addon{
  background: none repeat scroll 0 0 #fff;
  border: medium none;
  color: #555;
  font-size: 14px;
  font-weight: 400;
  top: 12px;
  line-height: 1;
  padding: 0;
  position: absolute;
  text-align: center;
  right: 20px;
}
.input-group > input{
  padding-left: 20px;
}
input[type="text"][disabled], input[type="text"][readonly], fieldset[disabled] input[type="text"], input[type="password"][disabled], input[type="password"][readonly], fieldset[disabled] input[type="password"], input[type="date"][disabled], input[type="date"][readonly], fieldset[disabled] input[type="date"], input[type="datetime"][disabled], input[type="datetime"][readonly], fieldset[disabled] input[type="datetime"], input[type="datetime-local"][disabled], input[type="datetime-local"][readonly], fieldset[disabled] input[type="datetime-local"], input[type="month"][disabled], input[type="month"][readonly], fieldset[disabled] input[type="month"], input[type="week"][disabled], input[type="week"][readonly], fieldset[disabled] input[type="week"], input[type="email"][disabled], input[type="email"][readonly], fieldset[disabled] input[type="email"], input[type="number"][disabled], input[type="number"][readonly], fieldset[disabled] input[type="number"], input[type="search"][disabled], input[type="search"][readonly], fieldset[disabled] input[type="search"], input[type="tel"][disabled], input[type="tel"][readonly], fieldset[disabled] input[type="tel"], input[type="time"][disabled], input[type="time"][readonly], fieldset[disabled] input[type="time"], input[type="url"][disabled], input[type="url"][readonly], fieldset[disabled] input[type="url"], input[type="color"][disabled], input[type="color"][readonly], fieldset[disabled] input[type="color"], textarea[disabled], textarea[readonly], fieldset[disabled] textarea {
  cursor: not-allowed;
  opacity: 1;
  background-color: #fff !important;
}
.jcheckbox {
  width: 0;
}
.jcheckbox > label {
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: inline-block;
  font-size: 15px;
  margin: 0 !important;
  padding: 3px 2px 2px 3px; 
}
.jcheckbox > input {
  display: none;
}

.jcheckbox > input:checked + label:before{
  opacity : 1;
  color: #24d0e9;
}
.jcheckbox > input:not(:checked) + label:before{
  opacity : 0;
}
.animated form label{
  text-transform: uppercase;
  color : #999999;
  margin-bottom : 5px;
}
button.button {
  font-family: ProximaNova-Regular;
}
.button.btn-default{
  background-color: #d9d9d9;
  color: #fff;
}
#jmessage .modal-header {
  padding: 7px 15px 1px;
}
#jmessage .modal-header button{
  margin-top : -39px;
}
.expense-head th span.jcheckbox{
  display: inline;
}
table.expense-head{
  box-shadow: 0 4px 2px -2px #dadada;
}
table tbody tr td{
  color : #808080;
}
#expense table thead tr,
#expense table tbody tr{
  height: 4rem;
}
#expense table {
  margin: 0 0 3px;
  border : none;
}
.container-action .linking {
  border-left: 1px solid #cecece;
  border-top: 1px solid #cecece;
  height: 265%;
  left: 65%;
  position: absolute;
  top: 80%;
  width: 65%;
} 
.basr.row {
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size : 14px;
  max-width: none;
}
.basr.row .columns{
  padding : 0;
}
.basr .sales {
  border-right: 1px solid #dbdbdb;
}
.basr.row .sales > .columns,
.basr.row .purchases > .columns,
.basr.row .modal-footer > .columns{
  border-top: 1px solid #dbdbdb;
  padding: 20px 15px;
}
.basr.row .sales > .header,
.basr.row .purchases > .header{
  padding: 25px 15px;
}
.basr.row .header h6{
  font-size: 19px;
  text-transform: uppercase;
}
.basr.row .total-text{
  font-size: 14px;
  text-transform: uppercase;
}
.basr.row .gst-text{
  font-size: 19px;
}
.basr.row .tax-off-num{
  font-size: 20px;
}
.basr.row .total-text,
.basr.row .gst-text,
.basr.row .tax-off-num,
.basr.row .tax-off-text{
  font-weight: bold;
}

#clients{
  padding : 0;
}

#clients table,
#clients table td,
#clients table th{
  border-left: none;
  border-right: none;
  padding-left : 1.475rem;
}
#clients table th{
  text-transform: uppercase;
  color : #808080;
}
#clients table tr{
  height : 70px;
}
#add_client input {
  margin-bottom: 0;
}
#add_client .tip {
  color: #b9b9b9;
  display: inline-block;
  padding: 0.5rem 0;
  font-size : 13px;
}
#add_client .row{
  margin-bottom : 15px;
}
#picker {
  border-width: 1px ;
  border-style: solid;
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  float: left;
  margin: 0;
  padding: 0.9rem 1.1rem 1.3rem;
}
#colhex{
  border-radius: 0 4px 4px 0;
  border-width: 1px 1px 1px 0;
  width: 45%;
  float: left;
}
#char {
  float: left;
  margin-left: 1rem;
  text-align: center;
  width: 28%;
}
.colpick {
  z-index : 1003;
}
.sign-preivew {
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  color: #fff;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  padding: 9px 0 7px;
  text-align: center;
  text-transform: uppercase;
  width: 50px;
}
#clients .picker-drop li a {
  font-size: 12px;
  text-transform: none;
  padding: 10px;
}
.ov-text {
  color: #ff954c;
}
.i-number {
  font-size: 20px;
}
#business_details .row,
#gstsettings .row,
#reminders .row,
#invoicing .row{
  max-width: none;
}
#business_details h5{
  font-family: ProximaNova-Regular;
  text-transform: uppercase;
}
#business_details .row:first-child {
  border-bottom: 1px solid #cccccc;
  margin: 30px 0;
  padding: 30px 0;
}
#business_details .row {
  margin: 15px 0;
}
.dashboard .columns{
  padding : 0;
}
.dashboard > .large-10{
  width : 77%;
}
.dashboard > .large-2{
  width : 23%;
}
.status > div {
  float: left;
  height: 110px;
  width: 20%;
}
.status .stat {
  height: 90px;
  padding: 15px 0 0 20px;
}
.status > div:first-child  > .rls{
  border-width : 0px 0px 1px 0px;
}
.status  .rls {
  border-style: solid;
  border-width: 0 0 1px 1px;
  height: 20px;
  border-color: #ccc;
}
.status .stat span{
  font-size: 13px;
}
.status .stat .i-number {
  color: #087da7;
  font-size: 31px;
}
.status .stat .d-number{
  font-size: 12px;
  color: #087da7;
}
.dashboard #chart{
  padding-left: 20px;
}
.dashboard .com {
  font-size: 1rem;
  padding: 60px 0 40px 20px;
}
.dashboard .chart-report {
  /* IE10 Consumer Preview */ 
  background-image: -ms-linear-gradient(bottom, #FFFFFF 50%, #F1F1F1 100%);

  /* Mozilla Firefox */ 
  background-image: -moz-linear-gradient(bottom, #FFFFFF 50%, #F1F1F1 100%);

  /* Opera */ 
  background-image: -o-linear-gradient(bottom, #FFFFFF 50%, #F1F1F1 100%);

  /* Webkit (Safari/Chrome 10) */ 
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #FFFFFF), color-stop(1, #F1F1F1));

  /* Webkit (Chrome 11+) */ 
  background-image: -webkit-linear-gradient(bottom, #FFFFFF 50%, #F1F1F1 100%);

  /* W3C Markup, IE10 Release Preview */ 
  background-image: linear-gradient(to top, #FFFFFF 50%, #F1F1F1 100%);
}
.dashboard .goals > div {
  margin: 0 auto;
  padding: 1rem 0;
  width: 60%;
  text-align: center;
  position: relative;
}
.dashboard .goals {
  border-left: 1px solid #ccc;
}
.dashboard .goal-label {
  font-size: 12px;
  position: absolute;
  text-align: center;
  top: 24%;
  width: 100%;
}
.dashboard .goal-label > span{
  font-size: 2rem;
}
.jradio {
  margin: 0 20px 0 0;
}
.jradio > input {
  display: none;
}
.jradio > label {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-block !important;
  margin: 0 !important;
  padding: 15px;
}
.jradio > span {
  display: inline-block;
  font-size: 15px;
  margin: 0 0 7px 1px;
  padding: 7px 0 0 10px;
  vertical-align: top;
}
.jradio > input:checked + label{
  background-color: #0ed8b9;
}
#gstsettings > .row .row {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#gstsettings > .row .row > label {
  margin-bottom: 1rem;
}
#gstsettings .tips > div {
  border: 1px solid #dedede;
  border-radius: 4px;
  box-shadow: 0 0 2px 0 #ccc;
  margin-bottom: 10px;
  padding: 8px 15px;
}
#gstsettings p{
  color : #808080;
}
#gstsettings .tips > div > p {
  margin: 0;
}
#gstsettings .tips {
  border-left: 1px solid #ccc;
  height: 305px;
  margin-top: 35px;
  padding-left: 40px;
}
#reminders .columns {
  margin: 5px 0;
}
#reminders .row {
  margin: 10px 0;
}
#reminders .columns > label{
  font-family: ProximaNova-Regular;
}
#reminders .label-1 {
  font-size: 13px;
  margin-left: 1rem;
}
#invoicing .row .invoicing-field-block > *{
  display: inline-block;
  font-size: 0.9rem;
  margin-right: 1.2rem;
}
#invoicing .row .invoicing-field-block input[name="payment_term"]{
  width : 6rem;
}
#invoicing .row .invoicing-field-block textarea[name="footer"]{
  width: 50%;;
}
#invoicing .tool-tips {
  background-color: #f1f1f1;
  border-radius: 4px;
  padding: 10px 40px 10px 10px;
  vertical-align: top;
}
.upload-button {
  background-image: url("../images/server-upload-copy.png");
  background-position: center center;
  background-repeat: no-repeat;
  border: 2px dashed #ccc;
  border-radius: 4px;
  height: 178px;
  width: 178px;
  position: relative;
}
.upload-button > input[type="file"] {
  cursor: pointer;
  height: 100%;
  opacity: 0;
}
.upload-button.showed{
  border: none !important;
}
.upload-button.showed > .upoad-preview{
  display: block;
}
.upload-button  > .upoad-preview {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  width: 100%;
}
.upload-button  > .upoad-preview > img{
  border-radius: 4px;
  height: 100%;
  width: 100%;
}
.upload-button  > .upoad-delete{
  color: #808080;
  float: right;
  font-size: 1.2rem;
}
.account_settings .header {
  background-color: #f1f1f1;
  padding-bottom: 10px;
  padding-left: 1.8rem;
  padding-top: 10px;
}
.account_settings form{
  padding-left: 1.8rem;
}
.account_settings form h4{
  font-family: ProximaNova-Regular;
}
.account_settings > .large-12.columns > .large-12.columns {
  border-bottom: 1px solid #ccc;
  padding: 2rem 0;
}
.account_settings > .large-12.columns > .large-12.columns:last-child {
  border-bottom: none;
}
#account_details_form > .button {
  background-color: #fff;
  border: 1px solid;
  color: #808080;
  font-size: 0.8rem;
}
#account_details_form .button#delete_account{
  color : #cccccc;
}
.email_templates .dropdown-menu{
  padding: 0;
  left :-40px;
  top : 45px;
}
.email_templates .dropdown-menu table{
  border: medium none;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
}
.email_templates .dropdown-menu table tr{
  background-color: #fff;
}
.email_templates .dropdown-menu table tr td{
  font-size: 0.8rem;
  cursor: pointer;
}
.email_templates .dropdown-menu table tr th{
  text-align: center;
  color : #808080;
}
.email_templates .dropdown-menu:before {
  background: url("../images/menu-tail-up.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  height: 43px;
  position: absolute;
  right: 10px;
  top: -10px;
  width: 17px;
}
.email_templates p{
  margin-bottom: 5px;
}
.email_templates form .form-block:first-child {
  border-bottom: 1px solid #ccc;
}
.email_templates .form-block {
  padding: 3rem 0;
}
.email_templates .form-block .row {
  margin-bottom: 2rem;
}
.jinput{
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 0.8rem;
  padding: 5px;
  width: 100%;
}
.jinput.focus{
  border-color : #0ed6d8;
}
.jinput[data-input="input"]{
  height: 1.9rem;
  overflow: hidden;
}
.jinput[data-input="textarea"]{
  min-height: 15rem;
  overflow-x: hidden;
  overflow-y: auto;
  line-height: 1.5rem;
}
/*.jinput > img,
.tmpl-preview img , */
.jinput > span[contenteditable="false"] {
 background-color: #ffcfae;
border-radius: 2px;
color: #fff;
display: inline-block;
line-height: 1.3rem;
margin: 0 3px;
padding: 0 0.5rem;
text-transform: uppercase;
}
a.insert,
a.insert:hover,
a.insert:focus{
  color : #808080 !important;
}
.tmpl-preview .tmpl-preview-header {
  background-color: #0ed8b9;
  color: #fff;
  font-size: 0.5rem;
  height: 2rem;
  padding: 10px;
  border-radius:4px 4px 0 0;
}
.tmpl-preview .tmpl-preview-content {
  border: 1px solid #0ed8b9;
  height: 18.575rem;
  border-radius:0px 0px 4px 4px;
  overflow-y : auto;
  overflow-x : hidden;
}
.tmpl-preview .tmpl-preview-content > div {
  padding: 15px 15px 9px;
}
.tmpl-preview .tmpl-preview-content .tmpl-subject {
  border-bottom: 1px solid #ccc;
}
.invoice-container > form > div {
  margin: 1rem 0;
}
.invoice-container {
  padding: 2rem 3rem 2rem 2rem;
  background-image: url('../images/invoice-bg.png');
  background-repeat: no-repeat;
  background-size :100% 100%;
  background-position: bottom ;
}
.invoice-container .invoice-header {
  height: 120px;
  }.invoice-container .invoice-header {
  height: 120px;
}
.invoice-container .invoice-header > div {
  height: 100%;
}
.invoice-container .invoice-header > div > img {
  max-height: 100%;
  max-width: 100%;
}
.invoice-container .price-header {
  background-color: #d7dddd;
  padding: 8px 0 3px;
}
.invoice-container .invoice-footer {
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  margin-bottom: 3rem;
  padding: 1rem;
  text-transform: uppercase;
}
#invoice_form input[name="invoice_number"]{
  width : 100px;
}
#invoice_form input[name="payment_term"]{
  width : 50px;
  display: inline-block;
}
.invoice-btn .dropdown-menu {
  left: -112px;
}
.invoice-btn .dropdown-menu:before {
  left: 110px !important;
  top: -10px;
  width: 17px;
}
.invoice-status{
  background: none repeat scroll 0 0 #fff;
  border-left: 1px solid #dadde2;
  display: table-cell;
  height: 100%;
  padding-bottom: 200px;
  position: absolute;
  right : 0;
  vertical-align: top;
  z-index: 1002;
}
.invoice-body .invoice-block {
  border: 1px solid #eee;
  box-shadow: 0 1px 4px 0 #ccc;
  margin : 1%;
  width : 23%;
  padding : 0;
  max-height: 248px;
}
.invoice-body .invoice-block > div {
  border-bottom: 1px solid #eee;
  padding: 0.5rem 0.75rem;
}
.invoice-body .invoice-block > div:last-child{
  border : none;
  height : 40px;
}
.invoice-body .invoice-block > div:first-child{
  height : 132px;
}
.invoice-body .invoice-block p{
  margin : 0;
}
.invoice-body .invoice-block .sign-preivew {
  height: 30px;
  margin-bottom: 1rem;
  margin-right: 5px;
  padding-top: 4px;
  width: 31px;
}
.invoice-body .invoice-block .invoice-number{
  font-size: 1rem;
  font-weight: bold;
  text-transform: upcase; 
}
.invoice-body .invoice-block .client-name{
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase; 
}
.invoice-body .invoice-block img {
  margin-left: -1.1rem;
}
.invoice-block .picker-drop {
  position: absolute;
  right: 4%;
  top: 7%;
}
#load_invoice {
  min-height: 300px;
}
.price-content table,
.price-content table th,
.price-content table td{
  border : none;
}
.price-content table thead tr{
  background-color: #d7dddd;
  color : #6d6d6d;
}
.price-content table td,
.price-content table th
{
  padding : 15px 10px;
}
.price-content table tr{
  background-color: #fff;
  border-bottom: 1px solid #c1c1c1;
}
.invoice-btn > div {
  margin: 0.25rem;
  width: 30.226%;
}
.invoice-btn > div > .button {
  font-size: 0.6rem;
}
.payment {
  border: 1px solid #ccc;
  border-radius: 0.3rem;
}
.payment .payment-header {
  background-color: #f7f7f7;
  padding: 0.5rem 0;
  text-align: center;
  border-radius: 0.3rem 0.3rem 0 0;
}
.send-invoice .large-12.columns {
  margin: 0.5rem 0;
}
form[setting-type="emailTemplates"] textarea{
  min-height: 217px;
}


/*modify*/
.category-item .cat-content,
.category-item .cat-item,
.form_action .form_action_value,
.form_action .form_action_submit{
  float: left;
}


.category-item .cat-content{
  min-width: 30%;
}
.cat-action-button.delete{
  color: #ff4d35;
}
.form_action .form_action_value, .cat-content .form_title,
#categoryTable  th span {
  width: 60%;
  margin-right: 10px;
  margin-left: 10px;
}
.action-hide{
  display: none;
}
.cat-action{
  display: none;
  float: left;
}
.cat-content, .cat-action{
  height: 37px;
  line-height: 37px;
}
.category-item:hover .cat-action{
  display: block;
}
#categoryTable tr td{
  padding-top: 10px;
  padding-bottom: 10px;
}
.cat-content input{
  margin-bottom: 0px;
}